.App {
  display: block;
  font-family: 'YSText', 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #21201f;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

.App__conainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
