.header {
  max-width: 64%;
  max-height: 800px;
  margin: 0 auto;
  background-image: url('../../images/Ellipse.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 14% 43% 19% 10%;
  grid-template-areas:
    'logo illustration'
    'title illustration'
    'text illustration'
    'button illustration';
}

.header__logo {
  grid-area: logo;
  margin-top: 123px;
}
.header__title {
  z-index: 1;
  margin-top: 128px;
  margin-bottom: 0;
  max-width: 420px;
  grid-area: title;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 72px */
  letter-spacing: -1.44px;
}
.header__text {
  z-index: 1;
  max-width: 410px;
  margin-top: 28px;
  margin-bottom: 0;
  grid-area: text;
  color: #21201f;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
}
.header__newPrice {
  display: inline-block;
  min-height: 33px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 500px;
  background: radial-gradient(
    141.42% 141.42% at 100% 0%,
    #e0b8ff 0%,
    #b6b9ff 100%
  );
}
.header__price {
  display: inline-flex;
  min-height: 33px;
  text-decoration: line-through;
  align-items: center;
  position: absolute;
  z-index: -1;
  margin-left: -25px;
  padding-left: 40px;
  padding-right: 12px;
  border-radius: 500px;
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 500px;
  border-radius: 500px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(255, 255, 255, 0.63) 100%
    ),
    radial-gradient(141.42% 141.42% at 100% 0%, #e0b8ff 0%, #b6b9ff 100%);
}
.header__button {
  padding: 0;
  margin-top: 7px;
  grid-area: button;
  border-radius: 36px;
  background: #ffde40;
  box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
  border-style: none;
  width: 318px;
  height: 65px;
  color: #21201f;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 91.667% */
  cursor: pointer;
}

.header__imgSmkt {
  position: relative;
  top: 44px;
  right: 178px;
}
.header__smkt {
  max-width: 180%;
}
.header__textСircle {
  position: absolute;
  left: 50%;
  top: 312%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 83%;
    min-height: max-content;
  }
  .header__logo {
    max-width: 36%;
    margin-top: 32px;
  }
  .header__title {
    font-size: 36px;
    max-width: 50%;
    margin-top: 27px;
    letter-spacing: -0.64px;
  }
  .header__text {
    font-size: 18px;
    margin-top: 24px;
  }
  .header__newPrice {
    min-height: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
  .header__price {
    min-height: 24px;
    font-size: 13px;
    padding-right: 7px;
    padding-left: 39px;
    margin-left: -35px;
  }
  .header__smkt {
    max-width: 113%;
    margin-top: -5px;
    margin-left: -24px;
  }
  .header__textСircle {
    top: 48%;
    left: 24%;
    max-width: 27%;
  }
  .header__button {
    padding: 13px 0;
    z-index: 5;
    position: fixed;
    bottom: 30px;
    left: auto;
    font-size: 18px;
    line-height: 22px;
    max-width: 83%;
    height: auto;
    margin: 0;
  }
}
